<table class="table table-light table-bordered fs-14 text-start">
    <tr class="table-warning fs-14">
        <th>檔案名稱 (點兩下複製)</th>
        <th>頁面名稱 ( title )</th>
        <th>簡介 / 功能</th>
        <th>使用套件</th>
        <th>備註</th>
    </tr>
    <!-- <tr>
        <td data-td="檔案名稱" class="copyText">login.html</td>
        <td data-td="頁面title"><a href="index.html" class="text-decoration-none">專案-系統登入</a></td>
        <td data-td="簡介" class="text-start">登入系統頁面</td>
        <td data-td="套件"></td>
        <td data-td="備註"></td>
    </tr>
    <tr class="table-warning fs-14">
        <td colspan="5">系統管理</td>
    </tr>
    <tr>
        <td data-td="檔案名稱" class="copyText">user-role-list.html</td>
        <td data-td="頁面title">
            <a href="user-role-list.html" class="text-decoration-none">專案-角色管理列表</a>
        </td>
        <td data-td="簡介" class="text-start">
            <ul class="m-0 ps-3">
                <li>設定權限角色</li>
                <li>設定角色開啟/關閉</li>
                <li>新增使用者予特定角色</li>
                <li>設定角色權限內容</li>
            </ul>
        </td>
        <td data-td="套件">- -</td>
        <td data-td="備註">- -</td>
    </tr> -->
</table>
