<table class="table table-light table-bordered fs-14 text-start">
    <tr class="table-primary fs-14">
        <th>檔案名稱 (點兩下複製)</th>
        <th>頁面名稱 ( title )</th>
        <th>簡介 / 功能</th>
        <th>使用套件</th>
        <th>備註</th>
    </tr>
    <tr>
        <td class="copyText">index.html</td>
        <td><a href="index.html" class="text-decoration-none">專案-索引頁</a></td>
        <td class="text-start">所有頁面索引</td>
        <td>Swiper</td>
        <td>- -</td>
    </tr>
    <tr>
        <td class="copyText">Data-Panel.html</td>
        <td><a href="Data-Panel.html" class="text-decoration-none">主頁面</a></td>
        <td class="text-start">圖表介面一覽</td>
        <td>Hichart</td>
        <td>- -</td>
    </tr>
    <tr class="table-primary fs-14">
        <td colspan="5"></td>
    </tr>
</table>
