<aside class="d-flex">
    <div id="toggleAsideMenu" class="toggle-menu SideMenu">

        <button id="toggleAsideBtn" class="SideMenu-SwitchBtn align-self-start mt-2" type="button">
            <i class="fa-solid fa-circle-arrow-left"></i>
            <span class="visually-hidden">關閉</span>
        </button>
        <div class="w-100">
            <div class="">
                <img class="w-100" src="assets/Image/vessel.jpg" alt="ship-photo">
            </div>
        </div>
        <div id="" class="SideMenu-List">
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="item active">
                        <div class="SideMenu-icon">
                            <i class="fas fa-ship"></i>
                        </div>
                        <div>
                            <span class="SideMenu-zh">船舶資訊</span>
                            <span class="SideMenu-en">Vessel Information</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="SideMenu-icon">
                            <i class="fas fa-certificate"></i>
                        </div>

                        <div>
                            <span class="SideMenu-zh">船舶證照</span>
                            <span class="SideMenu-en">Vessel Certificates</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="SideMenu-icon">
                            <i class="fas fa-map-marked-alt"></i>
                        </div>

                        <div>
                            <span class="SideMenu-zh">航線歷程</span>
                            <span class="SideMenu-en">Vessel Schedules</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="SideMenu-icon">
                            <i class="fas fa-database"></i>
                        </div>

                        <div>
                            <span class="SideMenu-zh">數據監測</span>
                            <span class="SideMenu-en">Data Monitoring</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item">
                        <div class="SideMenu-icon">
                            <i class="fas fa-file-image"></i>
                        </div>

                        <div>
                            <span class="SideMenu-zh">相片</span>
                            <span class="SideMenu-en">Photo</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>