<nav id="SLABNavbar" class="SLABNavbar d-flex justify-content-between">
    <ul class="nav nav-pills list-unstyled ">
        <li class="nav-item pe-5">
            <a href="" title="摯陞數位科技">
                <img class="logo-img" src="" title="摯陞數位科技">
                <img class="logo-txt" src="" title="摯陞數位科技">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">首頁</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">船隊管理系統</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">船員</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                    <a class="dropdown-item text-center" href="">船員管理</a>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">職業安全</a>
                </li>
                <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdownMenuLinkX"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">船隊管理</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkX">
                        <li>
                            <a class="dropdown-item " href="PortInformation.jsp">航線管理</a>
                        </li>

                        <li>
                            <a class="dropdown-item " href="Energyefficiency.jsp">能效指標</a>
                        </li>

                        <li>
                            <a class="dropdown-item " href="DataInformation.jsp">數據監測</a>
                        </li>

                        <li>
                            <a class="dropdown-item " href="RiskAssesment.jsp">風險評估</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">巡檢督導</a>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">監管人員</a>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">督導缺失</a>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">管理考核</a>
                </li>
                <li>
                    <a class="dropdown-item text-center" href="">疫苗資訊(D)</a>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">系統工具集</a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <li>
                    <a class="dropdown-item " href="BI_ReportView.jsp">能效圖型(靜)</a>
                </li>

                <li>
                    <a class="dropdown-item " href="BI_ReportView_Auto.jsp">能效圖型(動)</a>
                </li>

                <li>
                    <a class="dropdown-item " href="VirtualSpace.jsp">虛擬實境</a>
                </li>

                <li>
                    <a class="dropdown-item " href="ShipMonitoringCenter.jsp">實時監控</a>
                </li>

                <li>
                    <a class="dropdown-item " href="IntegratedLink.jsp">整合連結</a>
                </li>

                <li>
                    <a class="dropdown-item " href="ThirdPartyWheather.jsp">氣象平台</a>
                </li>

                <li>
                    <a class="dropdown-item " href="VesselNoonReport.jsp">船舶午報(D)</a>
                </li>

                <li>
                    <a class="dropdown-item " href="DrawIo.jsp">線上工作流程</a>
                </li>

                <li>
                    <a class="dropdown-item " href="TimeGraphics_Frame.jsp">船舶大事記</a>
                </li>

            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">綠色航運</a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <li>
                    <a class="dropdown-item " href="CarbonIntensityIndicator.jsp">CII</a>
                </li>

                <li>
                    <a class="dropdown-item " href="CiiLoop.jsp">CII預測</a>
                </li>

                <li>
                    <a class="dropdown-item " href="Cii_KeepLevel.jsp">CII評級維持</a>
                </li>

            </ul>
        </li>

    </ul>
    <ul class="nav nav-pills list-unstyled icon-nav">
        <!-- 通知選單 -->
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false" id="NavAlarm">
                <i class="fas fa-bell"></i><span class="badge badge-warning" id="lblCartCount">486</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" aria-labelledby="NavAlarm">
                <a href="#" class="dropdown-item">
                    <div class="media d-flex">
                        <i class="fas fa-exclamation-circle me-3 fs-3"></i>
                        <div class="media-body">
                            <h3 class="dropdown-item-title">梅明五天警報</h3>
                            <p class="text-sm"> 觸發條件 : 2022/03/05 04:00:00</p>
                        </div>
                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </div>
                </a>
                <a href="#" class="dropdown-item">
                    <div class="media d-flex">
                        <i class="fas fa-exclamation-circle me-3 fs-3"></i>
                        <div class="media-body">
                            <h3 class="dropdown-item-title">200小時</h3>
                            <p class="text-sm"> 觸發條件 : 2022/03/10 08:00:00</p>
                        </div>
                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </div>
                </a>
                <a href="#" class="dropdown-item">
                    <div class="media d-flex">
                        <i class="fas fa-exclamation-circle me-3 fs-3"></i>
                        <div class="media-body">
                            <h3 class="dropdown-item-title">200小時</h3>
                            <p class="text-sm"> 觸發條件 : 2022/03/09 02:00:00</p>
                        </div>
                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </div>
                </a>
                <a href="#" title="警報" class="dropdown-item dropdown-footer text-center">查看所有警報</a>
            </div>
        </li> -->
        <!-- 設定選單 -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false" id="NavSettingbutton">
                <i class="fas fa-cogs"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="NavSettingbutton">
                <li>
                    <a class="dropdown-item" href="SystemSetting.jsp">
                        <i class="fas fa-cog"></i> 系統設定
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="logout.jsp">
                        <i class="fas fa-sign-out-alt"></i> 登出
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>