// 自定義變數
$enable-gradients: true;
$enable-shadows: true;
$body-color: #333;
$body-bg: red;
$border-radius: 0.4rem;
$success: #7952b3;

// bs5 樣式
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions'; // Required
@import 'bootstrap/scss/variables'; // Required
@import 'bootstrap/scss/mixins'; // Required
@import 'bootstrap/scss/root'; // Required
@import 'bootstrap/scss/reboot'; // Required
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/close';
@import 'bootstrap/scss/modal'; // Requires transitions
@import 'bootstrap/scss/utilities';

// 自定義 bs5 樣式
@import './utils/variables';
@import './utils/variables-dark';
@import './utils/viewport';

// 自定義樣式
@import './utils/fontStyles';
@import './utils/buttonStyles';
@import './utils/typography';
@import './layout/index';
@import './layout/header';
@import './layout/aside';
@import './layout/hichart';

// 自定義全域樣式
* {
    box-sizing: border-box;
}
body {
    font-family: '微軟正黑體', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}
img {
    vertical-align: middle;
}
