$asideWidth: 200px;
.SideMenu {
    width: $asideWidth;
    margin-left: 0;
    background: #000;
    display: flex;
    align-content: flex-start;
    position: relative;
    flex-wrap: wrap;
    background-color: #1a1a1a;
    border-top: solid #1a1a1a 1px;
    transition: margin-left 0.3s ease-in-out;
}
.SideMenu-SwitchBtn {
    width: 30px;
    height: 30px;
    margin-top: 0.5rem;
    padding: 0;
    background-color: #666666;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 0;
    top: 0;
    z-index: 1;
    line-height: 16px;
}
#toggleAsideMenu.aside-hide {
    margin-left: -$asideWidth;
    transition: margin-left 0.3s ease-in-out;
}
#toggleContentWidth.aside-open {
    margin-left: 0;
    width: calc(100% - $asideWidth);
    transition: width 0.3s ease-in-out;
}
.section-wrapper {
    min-height: calc(100vh - $navbarHeight);
    transition: margin-left 0.3s ease-in-out;
}
.SideMenu-List {
    width: 100%;
}
.SideMenu-List a.item {
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #333;
    .SideMenu-icon {
        margin-right: 12px;
        font-size: 18px;
    }
    .SideMenu-zh,
    .SideMenu-en {
        font-size: 12px;
        display: block;
        line-height: 1.3;
    }
    &:hover,
    &.active {
        background-color: #333;
        transition: background-color 0.3s ease-in-out;
    }
}
