<div class="CII-ship-data py-3 d-flex flex-column justify-content-between">
    <div class="ship-name px-4 d-flex align-items-center">
        <h2 class="me-3 fs-30 fw-bold d-inline-block">中鋼求新輪</h2><img class="mb-2" src="/assets/Image/twtaipei.png"
            alt="">
    </div>
    <div class="ship-data-list mb-2 px-4 d-flex justify-content-between w-100">
        <div class="DivTables-Wrap fs-16">
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">MMSI</div>
                <div class="td txt col">416463000</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">IMO</div>
                <div class="td txt col">9730907</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">Call Sign</div>
                <div class="td txt col">BDFI</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">Built Year</div>
                <div class="td txt col">
                    2019</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">Shipyard</div>
                <div class="td txt col">CSBC Kaohsiung</div>
            </div>
        </div>
        <div class="DivTables-Wrap fs-16">
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">DWT</div>
                <div class="td txt col">208,423</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">GRT</div>
                <div class="td txt col">105,964</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">LOA</div>
                <div class="td txt col">299.7 m</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">Breath</div>
                <div class="td txt col">50.56 m</div>
            </div>
            <div class="tr border-bottom">
                <div class="td label fw-bold text-left">Draught</div>
                <div class="td txt col">18.7 m</div>
            </div>
        </div>
    </div>
    <div class="ship-CII px-4 d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center me-5">
            <div class="cii-rank-lg fw-bold fs-84 title-cii-rank rank-c me-5">C</div>
            <div class="cii-score-lg fw-bold">
                <div class="fs-18">目前評級</div>
                <div class="fs-40">13.95</div>
            </div>
        </div>
        <div class="cii-brief fw-bold flex-fill">
            <div class="brief-1 d-flex justify-content-between bg-gray-3 p-3 mb-1">
                <div class="fs-16">目標值</div>
                <div class="fs-20">13.58</div>
            </div>
            <div class="brief-2 d-flex justify-content-between bg-gray-3 p-3">
                <div class="fs-16">差值 %</div>
                <div class="fs-20">2.73%</div>
            </div>
        </div>
    </div>
    <div class="ship-CII-chart">
        <div id="containerCiiTitle" class=""></div>
        <div id="containerCiiMain" class=""></div>
    </div>
    <div class="ship-CII-Analysis mb-2 px-4 d-flex justify-content-between align-items-stretch">
        <div class="cii-ana-1 flex-fill me-1">
            <div class="title fw-bold bg-gray-3 py-2 px-3 mb-1">預計評級</div>
            <div class="value bg-gray-3 py-2 px-3">
                <div class="d-flex justify-content-between">
                    <div class="">預測評級 (明年)</div>
                    <div><span class="td-cii-rank rank-c lh-1 px-1">C</span></div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="">降級年份</div>
                    <div>
                        <span class="td-cii-rank rank-d lh-1 px-1 me-2">D</span>
                        <span>2027</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cii-ana-2 flex-fill">
            <div class="title fw-bold bg-gray-3 py-2 px-3 mb-1">維持<span
                    class="td-cii-rank rank-c lh-1 px-1 mx-1">C</span>級分析
            </div>
            <div class="value bg-gray-3 py-2 px-3">
                <div class="d-flex justify-content-between">
                    <div class="">年度 PFS 油耗</div>
                    <div>4827.93 mt</div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="">須節省油耗</div>
                    <div>4827.93 mt</div>
                </div>
            </div>
        </div>
    </div>
</div>