.data-block {
    border-left: 5px solid $gray-2;
}
.block-content {
    position: relative;
}

//
// leaflet 上的視窗
//
.CII-ship-data {
    width: 553px;
    height: 647px;
    position: absolute;
    z-index: 3;
    background: #292929;
    top: 16px;
    left: 22px;
    @include bigPad {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        left: 0;
    }
}
.ship-name {
    h2 {
        letter-spacing: -1.9%;
    }
}
.ship-CII {
    position: relative;
    z-index: 3;
}
.title-cii-rank {
    padding: 0px 22px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    &.rank-a {
        color: #000;
        background: #27ff96;
    }
    &.rank-b {
        color: #000;
        background: #02eb7a;
    }
    &.rank-c {
        color: #fff;
        background: #078d4c;
    }
    &.rank-d {
        color: #000;
        background: #ffcb2b;
    }
}
// End leaflet 上的視窗
.DivTables-Wrap {
    // min-width: 236px;
}
.DivTables-Wrap .border-bottom {
    border-color: #303030 !important;
}
.DivTables-Wrap .td.label,
.DivTables-Wrap .th.label {
    width: 86px;
    height: 32px;
}
.DivTables-Wrap .td.txt::before,
.DivTables-Wrap .th.txt::before {
    padding-right: 12px;
}
.vessel-img {
    width: 174px;
    height: auto;
}
.DivTables-Wrap .td {
    padding-right: 8px;
}
.DivTables-Wrap .tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #303030 !important;
}
.DivTables-Wrap .td.txt::before {
    content: ' : ';
    display: inline-block;
}
.cii-brief {
    line-height: 20px;
}
.ship-CII-chart {
    position: relative;
}
#containerCiiMain {
    width: 100%;
    height: 115px;
    margin: 0 auto;
}
#containerCiiTitle {
    width: 92%;
    height: 74px;
    margin: 0 auto;
    position: absolute;
    top: -45px;
    z-index: 1;
}

.YAMIS-title.h4 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    padding-left: 24px;
}
.YAMIS-title.h4::before {
    content: '';
    display: block;
    position: absolute;
    top: 0.625rem;
    left: 0.25rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    width: 12px;
    height: 12px;
}
// table 1 樣式
.SLAB-table.table th,
.SLAB-table.table td {
    white-space: nowrap;
}
.SLAB-table.table > :not(caption) > * > th {
    color: #fff;
    background-color: #424242;
}
.SLAB-table.table > :not(caption) > .even > td,
.SLAB-table.table > :not(caption) > .even {
    color: #fff;
    background-color: #323232;
}
.SLAB-table.table > :not(caption) > .odd > td {
    color: #fff;
    background-color: #292929;
}
.SLAB-table.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
    --bs-table-bg-type: #323232 !important;
}
.SLAB-table.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #1d1d1d;
}
table.dataTable.display tbody tr.even:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display > tbody > tr:hover > * {
    box-shadow: inset 0 0 0 9999px rgba(100, 100, 100, 0.3);
}
.SLAB-table.table > :not(caption) > * > * {
    color: #fff;
    background-color: #292929;
}
.SLAB-table {
    --bs-table-border-color: #515151 !important;
}
// table 內容樣式
.td-cii-rank {
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    &.rank-a {
        color: #000;
        background: #27ff96;
    }
    &.rank-b {
        color: #000;
        background: #02eb7a;
    }
    &.rank-c {
        color: #fff;
        background: #078d4c;
    }
    &.rank-d {
        color: #000;
        background: #ffcb2b;
    }
}
// 頁碼樣式
.paginate_button {
    margin: 8px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    border: 1px solid #666;
    border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: $primary;
    color: #ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 4px;
    border: 1px solid #ddd;
}

// charts樣式
.chart-wrapper {
    width: 100%;
    overflow: auto;
}
.dataTables_length {
    margin-bottom: 8px;
}
.dataTables_wrapper .dataTables_length select {
    background: #424242;
    color: #fff;
    option {
        background: #424242;
    }
}
