<div class="my-3">
    <table id="tableCII1" class="w-100 SLAB-table table table-secondary table-striped table-hover display">
        <thead class="bg-dark-1">
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">航線</th>
                <th scope="col">起訖日期</th>
                <th scope="col">CII 評級</th>
                <th scope="col">CO₂ 排放 (噸)</th>
                <th scope="col">運輸量 (噸/海浬)</th>
                <th scope="col">單航時間 (小時)</th>
                <th scope="col">單航耗油 (噸)</th>
                <th scope="col">單航里程 (海浬)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="">
                <td></td>
                <td data-src="#">1</td>
                <td data-src="航線">AUDAM → TWKHH</td>
                <td data-src="起訖日期">2025/03/01 12:00 ～ 2025/03/18 09:00</td>
                <td data-src="CII評級">
                    <span class="td-cii-rank rank-c me-2">C</span>
                    <span class="td-cii-score">13.95</span>
                </td>
                <td data-src="CO2排放">1850</td>
                <td data-src="運輸量">1850</td>
                <td data-src="單航時間">1850</td>
                <td data-src="單航耗油">1850</td>
                <td data-src="單航里程">1850</td>
            </tr>

            <td></td>
            <td data-src="#">2</td>
            <td data-src="航線">AUDAM → TWKHH</td>
            <td data-src="起訖日期">2025/03/01 12:00 ～ 2025/03/18 09:00</td>
            <td data-src="CII評級">
                <span class="td-cii-rank rank-d me-2">D</span>
                <span class="td-cii-score">15.1</span>
            </td>
            <td data-src="CO2排放">1200</td>
            <td data-src="運輸量">1200</td>
            <td data-src="單航時間">1200</td>
            <td data-src="單航耗油">1200</td>
            <td data-src="單航里程">1200</td>
            </tr>

            <td></td>
            <td data-src="#">3</td>
            <td data-src="航線">AUDAM → TWKHH</td>
            <td data-src="起訖日期">2025/03/01 12:00 ～ 2025/03/18 09:00</td>
            <td data-src="CII評級">
                <span class="td-cii-rank rank-a me-2">A</span>
                <span class="td-cii-score">11.02</span>
            </td>
            <td data-src="CO2排放">1600</td>
            <td data-src="運輸量">1600</td>
            <td data-src="單航時間">1600</td>
            <td data-src="單航耗油">1600</td>
            <td data-src="單航里程">1600</td>
            </tr>

            <td></td>
            <td data-src="#">4</td>
            <td data-src="航線">AUDAM → TWKHH</td>
            <td data-src="起訖日期">2025/03/01 12:00 ～ 2025/03/18 09:00</td>
            <td data-src="CII評級">
                <span class="td-cii-rank rank-b me-2">B</span>
                <span class="td-cii-score">12.50</span>
            </td>
            <td data-src="CO2排放">1305</td>
            <td data-src="運輸量">1305</td>
            <td data-src="單航時間">1305</td>
            <td data-src="單航耗油">1305</td>
            <td data-src="單航里程">1305</td>
            </tr>

            <td></td>
            <td data-src="#">5</td>
            <td data-src="航線">AUDAM → TWKHH</td>
            <td data-src="起訖日期">2025/03/01 12:00 ～ 2025/03/18 09:00</td>
            <td data-src="CII評級">
                <span class="td-cii-rank rank-c me-2">C</span>
                <span class="td-cii-score">13</span>
            </td>
            <td data-src="CO2排放">200</td>
            <td data-src="運輸量">200</td>
            <td data-src="單航時間">200</td>
            <td data-src="單航耗油">200</td>
            <td data-src="單航里程">200</td>
            </tr>
        </tbody>
    </table>
</div>