// .highchartCii-figure .highcharts-background {
//     background: #323639;
// }
// #containerCii {
//     height: 120px;
//     background: #323639;
// }
.CII-content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @include bigPadH {
        flex-direction: column;
    }
    @include bigPad {
        flex-direction: column;
    }
    .CII-info {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @include bigPadH {
            width: 100%;
        }
        @include mobileH {
            flex-direction: column;
        }
        .CII-rank {
            padding: 0 36px;
            text-align: center;
            border-radius: 4px;
            font-size: 96px;
            @include smScreen {
                padding: 0 20px;
                font-size: 48px;
            }
            @include bs-lg {
                padding: 0 36px;
                font-size: 96px;
            }
            @include pad {
                padding: 0 20px;
                font-size: 48px;
            }
        }
    }
    .CII-chart {
        width: 50%;
        @include bigPadH {
            width: 100%;
        }
    }
}
